body{
    background-color: rosybrown;
    font-family:Arial, sans-serif ;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.business-card{
   margin:auto;
   margin-top: 50px;
   padding: 10px;
   width: 700px;
    text-align: center;
    font-size: 16px;
background-color: aqua;
}
.profile-image{
    width: 500px;
    height: 600px;
}
a:hover{
 text-decoration: underline, color(srgb red #15ce15 blue);}
a{
    text-underline-offset: none;
}
hr{
    background-color: brown;
    border-color: black;
    height: 3px;
}